@model List<Bloggie.Web.Models.Domain.Tag> //because the dbcontext is controller is returning a list
@{
    ViewData["Title"] = "All Tags";
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Tags - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <button onclick="location.href='@Url.Action("Add", "AdminTags", new { area = "" })'" class="btn btn-dark">Add new tag</button>

    @if(Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Display Name</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var tag in Model)
                {
                    <tr>
                    <td>@tag.Id</td>
                    <td>@tag.Name</td>
                    <td>@tag.DisplayName</td>
                    <td>
                        <a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@tag.Id">Edit/Delete</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Tags found!!!</p>
    }
</div>